/* Main */
.form-main {
  width: 100vw;
  min-height: 100svh;
  display: grid;
  place-content: center;
  align-items: center;
  padding: 2rem 0rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* Form */
.form-form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.form-element {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}
.form-field > img {
  width: 24px;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.form-content > .button {
  width: 250px;
}

.form-label {
  font-size: var(--text-size);
  color: var(--white);
}

.form-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-text {
  color: var(--white);
}
/* search */
.form-search-container-pick {
  background-color: var(--white);
  bottom: 0;
  position: absolute;
  z-index: 10;
  width: 100%;
  transform: translateY(100%);
  gap: 0;
  border: 1px solid var(--black);
}

.form-search-pick input {
  background: none;
  border: none;
  font-size: var((--text-size));
}
.form-search-pick input:focus {
  outline: none;
}

.form-search-pick {
  background-color: var(--lightblue);
  width: 300px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0rem 1rem;
  height: 40px;
}
.form-search-pick {
  width: 100%;
}
.form-search-option-pick {
  padding: 0.5rem 0rem;
}
.form-search-option-pick > li {
  padding: 0rem 1rem;
}
.form-search-option-pick > li:hover {
  background-color: var(--light-gray);
}

/* Error */
.error-message {
  width: 50%;
  color: red;
  text-align: center;
}

/* -------- PICK PROJECT PAGE -------- */
.form-title,
.form-details {
  text-align: center;
  margin: 0rem 1rem;
}

.form-form-project {
  gap: 2rem;
}

@media screen and (min-width: 1024px) {
  .form-container {
    padding: 2rem 6rem;
  }
}
