/* ---------------- CUSTOM STYLES ---------------- */
:root {
  /* Colors */

  /* Fonts */
}

/* ---------------- MAIN ---------------- */
body {
  background-color: var(--white);
}

h1 {
  font-size: var(--title-size);
  font-weight: var(--title-weight);
  line-height: 55px;
}
h2 {
  font-size: var(--subtitle-size);
  font-weight: var(--subtitle-weight);
  line-height: 55px;
}
h4 {
  font-size: 1.2rem;
  font-weight: var(--text-weight);
}
p {
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  line-height: 20px;
}
span {
  font-size: var(--small-text-size);
  font-weight: var(--small-text-weight);
  line-height: 17px;
}

/* ---------------- COMPONENTS ---------------- */

/* ---------------- ERROR MESSAGES ---------------- */

/* ---------------- ANIMATIONS ---------------- */
