/* ---------------- CUSTOM STYLES ---------------- */
:root {
  /* Colors */
  --primary: #E48717;
  --secondary: #5A5F76;
  --tertiary: #424863;
  --white: #F6F6F6;
  --black: #121212;
  --gray: #393939;
  --lightgray: #C1C1C1;
  --green: #8DC686;
  --red: #985354;

  /* Fonts */
  --family: "Inria Sans", sans-serif;
  --title-size: 2rem;
  --title-weight: 600;
  --subtitle-size: 2rem;
  --subtitle-weight: 600;
  --text-size: 1rem;
  --text-weight: 300;
  --small-text-size: 0.8rem;
  --small-text-weight: 300;
}

/* ---------------- MAIN ---------------- */
*,
*::before,
*::after {
  font-family: var(--family);
}

body {
  background-color: var(--secondary);
}
h1,
h2,
h3,
h4,
h5 {
  color: var(--white);
  text-transform: uppercase;
}
h1 {
  font-size: var(--title-size);
  font-weight: var(--title-weight);
}
h2 {
  font-size: var(--subtitle-size);
  font-weight: var(--subtitle-weight);
}
h3 {
  font-size: 1.6rem;
  font-weight: var(--subtitle-weight);
}
h4 {
  font-weight: var(--text-weight);
}
p {
  font-size: var(--text-size);
  font-weight: var(--text-weight);
}
span {
  font-size: var(--small-text-size);
  font-weight: var(--small-text-weight);
}

/* ---------------- COMPONENTS ---------------- */

/* ---------------- ERROR MESSAGES ---------------- */

/* ---------------- ANIMATIONS ---------------- */
