/* ---------------- CUSTOM STYLES ---------------- */
:root {
  /* Colors */

  /* Fonts */
}

/* ---------------- MAIN ---------------- */
img {
  width: 20px;
  height: 20px;
}

body {
  background-color: var(--white);
}

h1 {
  font-size: var(--title-size);
  font-weight: var(--title-weight);
}
h2 {
  font-size: var(--subtitle-size);
  font-weight: var(--subtitle-weight);
}
h4 {
  font-weight: var(--text-weight);
}
p {
  font-size: var(--text-size);
  font-weight: var(--text-weight);
}
span {
  font-size: var(--small-text-size);
  font-weight: var(--small-text-weight);
}

/* ---------------- COMPONENTS ---------------- */

/* ---------------- ERROR MESSAGES ---------------- */

/* ---------------- ANIMATIONS ---------------- */
