/* Main */
.form-search-container-teams {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.teams-header {
  padding: 3rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-search-teams {
  background-color: var(--white);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: 300px;
}
.form-search-teams input {
  color: var(--gray);
  background: none;
  border: none;
  height: 100%;
  width: 100%;
}
.form-search-teams input:focus {
  outline: none;
}

.teams-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.5rem 3rem;
  width: 95%;
  place-content: center;
  align-items: center;
}

/* Card */
.teams-container {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  width: 100%;
}
.teams-element {
  background-color: var(--tertiary);
  border-radius: 3px;
  color: var(--white);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 300px;
  width: 100%;
}

.teams-element > a {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.teams-element > a > .team-img {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  z-index: 2;
}

.teams-img img {
  position: absolute;
  height: 90%;
  object-fit: contain;
  opacity: 0.7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.teams-title,
.teams-content {
  color: var(--white);
}
